{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>
                Your API Keys
                <a href="#" class="btn btn-primary">Generate new</a>
            </h1>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Token</th>
                    <th>Description</th>
                    <th>Expiration Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for apiKey in apiKeys %}
                    <tr>
                        <td>{{ apiKey.token }}</td>
                        <td>{{ apiKey.description }}</td>
                        <td>{{ apiKey.expirationDate|date("m/d/Y") }}</td>
                        <td>
                            {% if apiKey.active %}
                                <a href="{{ path('api_key_switch', {'id': apiKey.id}) }}" class="btn btn-danger btn-sm">Turn off</a>
                            {% else %}
                                <a href="{{ path('api_key_switch', {'id': apiKey.id}) }}" class="btn btn-success btn-sm">Turn on</a>
                            {% endif %}
                            <a href="{{ path('api_key_edit', {'id': apiKey.id}) }}" class="btn btn-info btn-sm">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">API documentation <a href="#">click here</a></div>
    </div>
{% endblock %}

